.header {
  box-shadow: 4px 14px 54px rgb(123 119 119);
  margin-top: -0.5%;
  width: 99%;
  background: rgb(189 204 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Transfers {
  margin-right: 2%;
}
.linksss {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-left: 40px;
}
.inputname {
  border: 1px;
  font-size: large;
  background: #faf7ab;
  border-radius: 15cap;
  margin-top: 1.5%;
  height: 45%;
  width: 58%;
  padding: 0 2%;
  /* display: flex;
  position: absolute; */
  /* word-wrap: break-word;
  text-overflow: ellipsis; */
}
.forsearch {
  position: absolute;
  right: 10%;
  width: 12%;
  border: 1px;
  font-size: large;
  background: #faf7ab;
  border-radius: 15cap;
  margin-top: 1.5%;
  padding: 1% 2%;
}
.bsearch {
  width: 10px;
  background: #faf7ab;
}
@media (max-) {
}
