.contentFooter {
    background-color: #DAE3F3;
    width: 100%;
    /* position: relative; */
}
.allfooter {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(20%,1fr));
    justify-content: space-between;
    padding: 0 2%;
}

.linkk {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.d1 {
  line-height: 14px;
  /* background-color: blue; */
}
.lastfooter {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.h3footer{
    word-wrap:break-word ;
}
.em{
  font-size: small;
}
.top{
  margin-top: 1%;
}
@media (width<= 480px) {
  .allfooter {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}
.h3footer {
  word-wrap: break-word;
  font-size: x-small;
}
.em {
  margin: 0% 0%;
  font-size: 8px;
}
.top{
  margin-top: 2%;
}
.lastfooter {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
}
/* جوالات  كبيرة */
@media (width<= 768px) and (width> 480px)  {
  .allfooter {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}
.h3footer {
  word-wrap: break-word;
  font-size: x-small;
}
.em {
  margin: 1% 0%;
  font-size: 8px;
}
.top{
  margin-top: 1%;
}
.lastfooter {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
}
@media (width<= 1024px) and (width> 768px) {
  .allfooter {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}
.h3footer {
  word-wrap: break-word;
  font-size: 18px;
}
.em{
  margin:7% 0%;
  font-size: 11px;
}
.top{
  margin-top: 1%;
}
.lastfooter {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}
}
@media (width<= 1920px) and (width>=1025px) {
  .allfooter {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}
.h3footer {
  word-wrap: break-word;
  font-size: 21px;
}
.em {
  margin: 7% 0%;
  font-size: 16px;
}
.top{
  margin-top: 1%;
}
.lastfooter {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}
}